body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    background: rgb(2,0,36);
}
#container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: grid;
    border: 1px solid gray;
    background-color: white;
    width: 600px;
    height:600px;
}

#wrapper {
    text-align: center;
    padding: 1rem;
}

.div {
    border:1px solid rgb(229, 229, 235); 
}
.div:hover{
    background: rgba(32, 5, 5, 0.226);
}
.black {
    background: black;

}